ul {
	list-style-type:none;
}

#all-menu {
	width:auto;
	height: 68px;
	background-color:blue;
}

#menu li a {
	font-family:verdana;
	font-size: 15px;
	float:left;
	padding: 24px;
	background-color:gray;
	color:green;
	text-decoration:none;
	height: 18px;
}

#menu li a:hover {
	background-color:red;
	margin-top: -2px;
	font-weight:bold;
}
